/RoboSubSim/Temp
/RoboSubSim/Library
/RoboSubSim/Logs
/RoboSubSim/Assembly-CSharp.csproj
/RoboSubSim/RoboSubSim.sln
/RoboSubSim/Assembly-CSharp-Editor.csproj
/RoboSubSim/UserSettings
/RoboSubSim/Builds
/RoboSubSim/obj
/src/__pycache__